bin.v2
bin
doc/*.html
doc/version.rst
*~
.deps
.libs
*.la
*.o
*.lo
configure
stamp-h1
missing
ltmain.sh
libtool
install-sh
depcomp
config.sub
config.status
config.log
config.h
config.h.in
config.guess
autom4te.cache
aclocal.m4
Makefile
Makefile.in
examples/any_converter/any_converter
examples/glut/glut_bind
examples/regexp/regexp
